<section class="section">
    <h1 class="title">Your Classes:</h1>

    {{#each registrations as |registration|}}

    <div class="box">
            <a class="subtitle pb-1" href="/program/{{program.id}}">{{program.title}}</a>
            <p class="block">Program dates: {{format_date program.from_date}} - {{format_date program.to_date}}</p>
            <p class="block">Tuition cost: ${{program.tution}}</p>
    </div>

    {{/each}}
</section>